@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

@import url('reset.css');

:root{
  --body-font:'Figtree', sans-serif;
  
  --color-body:#e8f3f8;
  --color-header:#061b25;
  --color-text:var(var(--color-header));
  --color-text-muted:#a4d0e3;
  --color-input:#082937;
  --color-input-lighter:#0b374a;
  --color-secodary:#ff8c42;
  --color-secodary-darker:#cc7035;
  --color-secodary-lighter:#ffa368;
  --color-tertiary:#1c89b8;
  --color-text-badge:#e8f3f8;
  --color-disabled:#d2e7f1;
  --color-text-disabled:#77b8d4;

  --global-border-radius:6px;
  --global-transition:all 0.2s ease-in-out;
}

/*  General styles */
html{
  font-size: 18px;
}

body{
  height: 100vh;
  font-family:var(--body-font);
  background-color: var(--color-body);
  color: var(--color-text);
}

.container{
  padding: 0 1.5rem;
  color: var(--color-text-badge);
}

/* Header */
#main-header{
  background-color: var(--color-header);
  padding: 3rem 0;
  margin-bottom: 2rem;
}

.container h1{
  text-align: center;
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

form input, form button{
  border-radius: var(--global-border-radius);  
  padding: 20px 10px;
  color: var(--color-disabled);
  font-size: var(--body-font);
  border: 0;
}

form input{
  background-color: var(--color-input);
}

form button{
  background-color: var(--color-secodary);
  transition: var(--global-transition);
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

form button:hover{
  background-color: var(--color-secodary-darker);
}


/* Stats */
.stats{
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.stats li{
  display: flex;
  justify-content: space-between;
  background-color: var(--color-input);
  border-radius: var(--global-border-radius);
}

.stats span:first-child{
  padding: 5px 10px;
}

.stats span:nth-child(2){
  padding: 5px 15px;
  background-color: var(--color-tertiary);
  color: var(--color-body);
  border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
  font-weight: 700;
}

/*  To Do list */
.todos{
  margin-bottom: 4rem;  
}

.todos li{
  background-color: #fff;
  border-radius: var(--global-border-radius);
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-header);
}

.todos li div{
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.todos li.complete{
  background-color: var(--color-disabled);
  text-decoration: line-through;
  color: var(--color-text-disabled);
}

input[type="checkbox"]{
  /* appearance: none; */
  background-color: transparent;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--body-color);
  border-radius: 100%;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before{
  content: "X";
  transform: scale(0);
  transition: var(--global-transition);
}

input[type="checkbox"]:checked{
  background-color: var(--color-text-disabled);
  border-color: var(--color-text-disabled);
}

.todos li button{
  font-size: 1.5rem;
  border: 0;
  text-decoration: none;
  color: var(--color-input-lighter);
  background-color: transparent;
}

.todos li button i{
  cursor: pointer;
  transition: var(--global-transition);
}

.todos li button i:hover{
  color: var(--color-secodary-darker);
}

/* Footer */
footer .container{
  color: #000;
  display: flex;
  justify-content: center;
}