@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url(./reset.css);

:root{
  /* Background Color */
  --Bgcolor01:radial-gradient(#1d5566, #0d3949);
  --Bgcolor02:radial-gradient(#6d66c0, #020c42);
  /* Font Family */
  --F-Poppins:'Poppins', sans-serif;
  --F-Kanit:'Kanit', sans-serif;
  --F-Figtree:'Figtree', sans-serif;
  --F-NotosansKr:'Noto Sans KR', sans-serif;
  --FS:1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--F-Poppins);
}

body {
  color: #fff;
  overflow: hidden;
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; */
  /* justify-content: center;
  background: var(--Bgcolor01); */
}
.wrapper{
  background: #00796b;
  height: 100vh;
  position: relative;
}
.container{
  width: 600px;
  padding: 80px;
  height: 400px;
  text-align: center;
  background: rgba(255,255, 255, 0.25);
  border-radius: 25px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  overflow: hidden;
  backdrop-filter: blur(0.9rem);
}
.container h1{
  font-size: 2.5rem;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  font-weight: bold;
}
form{
  padding: 20px 0;
  position: relative;
  z-index: 2;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.form input{
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255,255, 255, 0.4);
  background: rgba(255,255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #009688;
  transition-duration: 0.25s;
  font-weight: 300;
}
.form input::placeholder{
  color: #fff;
}
.form input:hover{
  background: rgba(255,255, 255, 0.4);
}
.form input:focus{
  background: #fff;
  width: 300px;
}
.form input:focus::placeholder{
  color: #009688;
}
form button{
  appearance: none;
  outline: 0;
  background: #fff;
  border: 0;
  padding: 10px 15px;
  color: #009688;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover{
  background: #aaafb4;
}
.bg-bubbles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-bubbles li{
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(255,255, 255, 0.2);
  bottom: -250px;
  animation: square 20s infinite;
  transition-timing-function: linear;
  border-radius: 10px;
}

.wrapper.success .container h1{
  transform: translateY(85px);
}

.wrapper.success form{
  transform: translateY(250px);
  visibility: hidden;
}

@keyframes square{
  0%{
    transform: translate(0);
  }
  100%{
    transform: translateY(-150vh) rotate(600deg);
  }
}