@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f1b26;
  min-height: 100vh;
  overflow: hidden;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.container .box{
  position: relative;
  width: 250px;
  height: 50px;
  background: #1d3244;
  border-radius: 5px;
  transition: 0.5s;
}
.container .box.hovered{
  scale: 1.75;
  z-index: 1000;
  background: #1296ff;
  box-shadow: 0 0 50px rgba(0,0,0,0.25);
}
.container .box.prev1,
.container .box.next1{
  scale: 1.5;
  z-index: 3;
  background: #0d75c9;
  box-shadow: 0 0 50px rgba(0,0,0,0.15);
}
.container .box.prev2,
.container .box.next2{
  scale: 1.25;
  z-index: 2;
  background: #08518d;
  box-shadow: 0 0 50px rgba(0,0,0,0.05);
}