@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root{
  --bg-01:linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  --bg-02:linear-gradient(to top, #2C5364, #203A43, #0F2027);
  --bg-03:linear-gradient(to bottom, #000000, #434343);
  --bg-04:linear-gradient(to top, #000000, #434343);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;  
}

body {
  background:var(--bg-03);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
a{
  width: 300px;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 35px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}
a:hover{
  background: #fff;
  color:var(--bg-03);
}
a span{
  display: inline-flex;
  transition: 0.4s;
  text-shadow: 0 50px #333;
}
a:hover span{
  transform: translateY(-50px);
}