@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url(./reset.css);

:root{
  /* Background Color */
  --Bgcolor01:radial-gradient(#1d5566, #0d3949);
  --Bgcolor02:radial-gradient(#6d66c0, #020c42);
  /* Font Family */
  --F-Poppins:'Poppins', sans-serif;
  --F-Kanit:'Kanit', sans-serif;
  --F-Figtree:'Figtree', sans-serif;
  --F-NotosansKr:'Noto Sans KR', sans-serif;
  --FS:1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--F-Poppins);
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#1d5566, #0d3949);
}

li{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
  margin: 10px 0;
}

li.active{
  background: red;
}