@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");


:root{
  --bgc-01: linear-gradient(to bottom, #283048, #859398);
  --bgc-02: linear-gradient(to bottom, #232526, #414345);
  --bgc-03: linear-gradient(to bottom, #16222a, #3a6073);
  --clr-01:#052b2f;
  --clr-02:#073438;
  --clr-03:#0e4b50;
  --clr-04:#2d8f85;
  --clr-05:#637c54;
  --bgi-01:repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px),
            repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  background: #111;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader{
  position: relative;
  cursor: default;
  -webkit-box-reflect: below -25px linear-gradient(transparent, #0005);
}

.loader span{
  position: relative;
  display: inline-flex;
  font-size: 3em;
  color: #fff;
  -webkit-text-stroke: 1px #fff9;
  text-transform: uppercase;
  font-weight: 800;
  animation: animate 2s ease-in-out infinite;
  animation-delay: calc(0.15s * var(--i));
}

@keyframes animate{
  0%{
    transform: translateY(0px);
    color: transparent;
    text-shadow: none;
  }
  20%{
    transform: translateY(-60px);
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 25px #fff,
    0 0 50px #fff;
  }
  40%, 100%{
    transform: translateY(0px);
    color: transparent;
  }
}
