@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root{
  --bg-01:linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  --bg-02:linear-gradient(to top, #2C5364, #203A43, #0F2027);
  --bg-03:linear-gradient(to bottom, #000000, #434343);
  --bg-04:linear-gradient(to top, #000000, #434343);
  --cl-01:#3e3d3d

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;  
}

body {
  background:var(--bg-02);
  min-height: 200vh;
  overflow-x: hidden;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

h2{
  position: relative;
  top: 100px;
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.image-container{
  position: absolute;
  top: 60vh;
  width: 400px;
  height: 400px;
}


.image-container .image-slice{
  background-position: center;
  position: absolute;
  transition: all 1s ease-in-out;
}
