@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root{
  --bg-01:linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
  --bg-02:linear-gradient(to top, #2C5364, #203A43, #0F2027);
  --bg-03:linear-gradient(to bottom, #000000, #434343);
  --bg-04:linear-gradient(to top, #000000, #434343);
  --cl-01:#3e3d3d;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;  
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  padding: 40px;
  cursor: pointer;
  user-select: none;
}

.content h2{
  font-size: 3em;
}

.content p{
  font-size: 1.5em;
  margin-top: 10px;
}

.spotlight{
  position: fixed;
  width: 200px;
  height: 200px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%,-50%);
}

body.active .spotlight{
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.8);
}